{% extends 'cpanel/content.html.twig' %}

{% block title %}{{ parent() }} - Редактировать{% endblock %}

{% block content %}
    <div class="content-wrapper">

        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('cpanel.index') }}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{{ path('cpanel.popular.products') }}">Популярные комплектующие</a></li>
                <li class="breadcrumb-item active">Редактировать</li>
            </ol>
        {% endblock %}

        {% include 'cpanel/_flashes.html.twig' %}

        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Редактировать</h2>
                        <p class="card-description"></p>
                        {{ include('cpanel/popular_products/_form.html.twig',{
                            name_sumbit:'Редактировать'
                        }) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}