{% block _form_composition_entry_widget %}
    <li class="d-flex flex-nowrap mt-3">
        <div class="col-sm-8">
            {{ form_widget(form.name, {attr: {
                placeholder: 'Название товара',
                readonly: true,
                class: 'form-control name-composition'
            }}) }}
            {{ form_row(form.id) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.count, {attr: {
                placeholder: 'Количество',
                class: 'form-control count-composition text-center'
            }}) }}
        </div>
        <div class="col-sm-2 flex-nowrap">
            <button type="button" class="btn btn-inverse-success btn-icon move-composition">
                <i class="mdi mdi-priority-high"></i>
            </button>
            <button type="button" class="btn btn-inverse-danger btn-icon ml-2 remove-composition">
                <i class="mdi mdi-delete-forever"></i>
            </button>
        </div>
    </li>
{% endblock %}