{% block _form_files_entry_widget %}
    <li class="d3-project__files-item">
        <img class="d3-project__files-image" src="https://imgholder.ru/60/EEE/adb9ca&text=%D0%A4%D0%B0%D0%B9%D0%BB" width="60" height="60" alt="">
        {{ form_row(form.id) }}
        <a class="d3-project__files-delete remove-file">Удалить</a>
    </li>
{% endblock %}