{% extends 'mail.html.twig' %}

{% block body %}

    <p>Перейдите по ссылке, чтобы восстановить пароль:</p>

    {% set url = url('buyer.reset.password', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}
