{% extends 'base.html.twig' %}
{% block title %}Debug{% endblock %}

{% block body %}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-3 px-2 px-sm-5">
                        <div class="brand-logo"></div>
                        <h4>{{ content }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}