{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="col-lg-6 {% block content_photo %}{% endblock %} d-flex flex-row">
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}