<div class="modal modal-login help-popup close-help" data-popup="login"  style="display: none">
    <div class="modal__container">
        <div class="modal__inner">
            {% include 'frontend/_login.html.twig' %}
        </div>
        <button class="modal__close close-help" type="button" aria-label="Закрыть"></button>
    </div>
</div>