{% if sliders|length > 0 %}
    <div class="services-slider">
        <div class="swiper-wrapper">
            {% for slider in sliders %}
                <div class="services-slider__item  swiper-slide">
                    <p class="services-slider__title">{{ slider.info.header }}</p>
                    <p class="services-slider__desc">{{ slider.info.description }}</p>
                    {% if slider.button.enable %}
                        <a class="services-slider__button" href="{{ slider.button.link }}">{{ slider.button.label }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="services-slider__pagination"></div>
    </div>
{% endif %}