{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Проверка файлов</li>
            </ol>
        {% endblock %}

        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Проверка файлов</h3>

                            {{ form_start(form,{
                                attr: {
                                    action:path('file.upload'),
                                    class:'forms-sample',
                                    enctype: 'multipart/form-data',
                                }
                            }) }}

                        <div class="form-group">
                            {{ form_widget(form.file, {attr: {
                            }}) }}

                        </span>
                            </div>
                        </div>
                        {{ form_errors(form.file) }}
                        <button type="submit" class="btn btn-primary mr-2">Загрузить</button>
                        {{ form_end(form) }}


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}