{% extends 'frontend/buyer/container.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="{{ path('index') }}">Главная</a>
        <span class="breadcrumbs__separator"></span>
    </div>
{% endblock %}

{% block headline %}
    <h1 class="page-title">Кабинет</h1>
{% endblock %}
